<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-15">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="../../favicon.ico?params=any">
    <title>AdapteMonWeb-enregistre</title>
    <style>
    body {
      height: 100vh;
      margin: 0;
			padding: 0;
    }
    header, footer {
      background-color: #3399cc;
  		height: 9.99%;
  		display: flex;
    }
  	footer {
  		align-items: flex-end;
      justify-content: center;
  	}
    .logo-png {
      width: 80px;
      margin: 0 0 0 15px;
    }
    img {
      width: 100%;
    }
    main{
      align-items: center;
      display: flex;
      justify-content: center;
  		height: 80%;
    }
    .sheet-page {
      background-color: #e3e8f2;
			border: 2px #ff9c02 solid;
      border-radius: 4px;
      box-shadow: 3px 3px 6px;
      overflow: hidden;
      scroll-behavior: auto;
      text-align: center;
      max-width: 45%;
      height: 80%;
      padding: 1em 2.5em;
    }
    .sheet-page>h1 {
      border-bottom: 1px #000 solid;
      margin: 0 0 1.27em;
      padding-bottom: .33em;
    }
    p, h2 {
      text-align: left;
    }
  	footer>p {
  		margin: 0;
  		padding: 8px;
  	}
    </style>
  </head>
  <body>
    <header>
      <div class="logo-png">
        <img src="/images/favicon.png " alt="AdapteMonWeb">
      </div>
    </header>
    <main>
      <div class="sheet-page">
        <h1>Votre inscription est réussie.</h1>
        <h2>Felicitation !</h2>
        <p>Vous pouvez vous connecter sur votre compte et paramétrer vos préférences pour votre confort de lecture.</p>
  		  <p>Bonne navigation avec "<strong>AdapteMonWeb</strong>".</p>
      </div>
    </main>
    <footer>
      <p>Tout les droits réservé &copy; <a href="http://adaptemonweb.fr">adaptemonweb.fr</a></p>
    </footer>
  </body>
</html>